
<h1>欠席届提出</h1>

<h2>届出種類</h2>
<select name="example">
<option>選択してください</option>
<option>公欠届</option>
<option>欠席届</option>
</select>

<h2>公欠理由(公欠届の場合)</h2>
<select name="example">
<option>選択してください</option>
<option>公欠届</option>
<option>欠席届</option>
</select>

<h2>詳細入力</h2>
<input>

<h2>対象日</h2>
<input type="date">

<h2>対象コマ</h2>
<input  type="checkbox" name="hbit" value="">1コマ
<input  type="checkbox" name="hbit" value="">2コマ
<input  type="checkbox" name="hbit" value="">3コマ
<input  type="checkbox" name="hbit" value="">4コマ
<input  type="checkbox" name="hbit" value="">5コマ

